h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Sora", sans-serif;
}
h1 {
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 44px;
  }
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 72px;
  }
}
h2 {
  margin-bottom: 20px !important;
}
@media screen and (min-width: 768px) {
  h2 {
    margin-bottom: 30px !important;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    margin-bottom: 40px !important;
  }
}
.cta-primary {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 18px 36px;
  margin: 50px 0 0 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.cta-secundary {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5rem;
  background: #fff;
  color: #000;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 18px 36px;
  margin: 50px 0 0 0;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.cta-tertiary {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-transform: none;
  line-height: 1.5rem;
  background: none;
  border: none;
  border-radius: none;
  padding: 0 0;
}
/* Responsive header */
nav {
  height: 100px;
  background: #f1f1f1;
}
nav .container-fluid {
  padding: 0 0;
  margin: 0 0;
}
.navbar-brand {
  display: flex;
  align-items: center;
  padding: 0 0 0 10%;
  margin: 0 20px 0 0;
  font-size: 20px;
}
.navbar-brand img {
  height: 60px;
  margin: 0 20px 0 0;
  width: auto;
}
.navbar-nav {
  padding: 0 10% !important;
}
.navbar-nav li a {
  font-size: 16px;
}
.header-cta {
  padding: 0 10% 0 0;
}
@media screen and (max-width: 991.98px) {
  .header-cta {
    display: none;
  }
  .navbar-toggler {
    margin: 0 10% 0 0;
  }
  .navbar-collapse {
    background: #f1f1f1;
    margin-top: 22px;
  }
}
/* Bootstrap carousel with rounded captions */
.carousel .carousel-item {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0 10%;
}
.carousel .carousel-item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.carousel .carousel-item .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.carousel .carousel-item h2 {
  font-size: 32px;
  color: #ffffff;
  text-align: center;
}
.carousel .carousel-item p {
  font-size: 20px;
  color: #ffffff;
  margin: 40px 0 0 0;
  text-align: center;
}
.carousel .carousel-item.active h2 {
  animation: fadeInLeft 0.5s ease forwards;
}
.carousel .carousel-item.active p {
  animation: fadeInRight 0.5s ease forwards;
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
.carousel .carousel-controls {
  position: absolute;
  left: 50%;
  bottom: 40px;
  z-index: 10;
  transform: translateX(-50%);
}
.carousel .carousel-indicators {
  position: relative;
  margin: 0;
}
.carousel .carousel-indicators li {
  height: 32px;
  width: 32px;
  margin: 0 5px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.carousel .carousel-indicators li.active {
  border-color: #ffffff;
  transform: scale(1.2);
}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  height: 20px;
  width: 20px;
  opacity: 1;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.carousel .carousel-control-next {
  right: -50px;
}
.carousel .carousel-control-prev {
  left: -50px;
}
@media screen and (min-width: 768px) {
  .carousel .carousel-item h2 {
    font-size: 44px;
  }
  .carousel .carousel-item p {
    font-size: 22px;
    margin: 50px 0 0 0;
  }
  .carousel .carousel-indicators li {
    height: 44px;
    width: 44px;
  }
}
@media screen and (min-width: 1024px) {
  .carousel .carousel-item h2 {
    font-size: 72px;
  }
  .carousel .carousel-item p {
    font-size: 24px;
    margin: 60px 0 0 0;
  }
  .carousel .carousel-indicators li {
    height: 56px;
    width: 56px;
  }
}
/* Hero */
.hero {
  height: 500px;
  display: flex;
  align-items: center;
  padding: 100px 10% !important;
  border-end-start-radius: 33px;
  border-end-end-radius: 33px;
  background: #000;
  color: #fff;
}
/* Hero with form */
.hero-with-form {
  padding: 100px 10% !important;
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-with-form h2 {
  margin: 0 0 50px 0;
}
.hero-with-form form {
  max-width: 800px;
}
.hero-with-form .field {
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  border: none;
}
.hero-with-form input[type="radio"] {
  height: 10px;
  width: 10px;
  padding: 20px 0;
  margin: 0 10px 0 0;
}
.hero-with-form label {
  margin: 0 14px 0 0;
}
.hero-with-form textarea {
  min-height: 150px;
}
.hero-with-form input[type="submit"] {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}
/* Text */
.text {
  padding: 100px 10% !important;
}
/* Icons */
.icons {
  padding: 100px 10% !important;
}
.icons .row {
  justify-content: center;
}
.icons .col-lg-3 {
  background-color: var(--solid-sixth-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 40px;
  margin: 10px 10px;
  flex-grow: 1;
  text-align: start;
}
.icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;
  height: 100px;
  width: 100px;
}
.icon svg {
  height: 72px;
  width: 72px;
}
.icons button {
  margin: 40px 0;
}
/* Services section */
.services {
  text-align: center;
  padding: 100px 10% !important;
}
.services .row {
  justify-content: center;
}
.services h2 {
  margin: 0 0 50px 0;
}
.services .col-lg-3 {
  background-color: var(--solid-sixth-color);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  padding: 0 0;
  margin: 10px 10px;
  flex-grow: 1;
}
.services .service {
  min-height: 250px;
}
.services .description {
  padding: 20px;
}
.description button {
  margin: 40px 0;
}
.service-1 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.service-2 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.service-3 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.service-4 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.service-5 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.service-6 {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
/* Text with image */
.text-with-image-wrapper {
  padding: 100px 10% !important;
  background-color: #f1f1f1;
}
.text-with-image-wrapper .col-sm-12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.text-with-image-wrapper img {
  width: 100%;
  margin: 60px auto 0 auto;
}
@media screen and (min-width: 768px) {
  .text-with-image-wrapper img {
    margin: auto;
  }
}
/* Responsive fancybox gallery */
.responsive-fancybox-gallery {
  padding: 100px 10% !important;
}
.responsive-fancybox-gallery h2 {
  text-align: center;
}
.showcase {
  transition: 0.5s ease-in-out;
  padding: 5px 5px !important;
}
.showcase:hover {
  filter: brightness(80%);
}
/* Portfolio */
.portfolio {
  padding: 100px 10% !important;
}
.portfolio h2 {
  text-align: center;
}
/* Responsive slick carousel 2 */
.responsive-slick-carousel-2 {
  list-style: none;
  margin: 0 0 50px 0;
  padding: 0 0;
}
.responsive-slick-carousel-2 .slick-slide {
  background: #fff;
  color: #000;
  padding: 20px 20px;
  border-radius: 15px;
  margin: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
}
.responsive-slick-carousel-2 .content {
  height: 200px;
}
.responsive-slick-carousel-2 li img {
  width: 100%;
  border-radius: 15px;
}
.responsive-slick-carousel-2 .p-overline {
  color: #777;
  font-family: "Inter Tight", sans-serif !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  font-style: normal !important;
  line-height: 1.5em !important;
  text-transform: uppercase;
  margin-top: 20px;
}
.responsive-slick-carousel-2 h4 {
  margin: 20px 0 40px 0;
}
.responsive-slick-carousel-2 .slick-dots {
  text-align: start;
  position: unset;
  margin: 20px 0 0 0;
}
.responsive-slick-carousel-2 .slick-dots li {
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.responsive-slick-carousel-2 .slick-dots li [type="button"]:focus,
.responsive-slick-carousel-2 .slick-dots li [type="button"]:hover,
.responsive-slick-carousel-2 .slick-dots li [type="submit"]:focus,
.responsive-slick-carousel-2 .slick-dots li [type="submit"]:hover,
.responsive-slick-carousel-2 .slick-dots li button:focus,
.responsive-slick-carousel-2 .slick-dots li button:hover {
  background-color: rgba(0, 0, 0, 0);
}
.responsive-slick-carousel-2 .slick-dots li button:before {
  line-height: 10px;
  width: 10px;
  height: 10px;
}
.responsive-slick-carousel-2 .slick-dots li.slick-active button:before {
  color: #2874fc;
  opacity: 1;
  background-color: none !important;
  width: 10px;
  height: 10px;
}
.slick-responsive.slick-dotted.slick-slider {
  margin-bottom: 100px;
}
.responsive-slick-carousel-2 .slick-next,
.responsive-slick-carousel-2 .slick-prev {
  right: 0;
  top: 100%;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 40px;
}
.responsive-slick-carousel-2 .slick-next {
  right: 30px;
  left: unset;
}
.responsive-slick-carousel-2 .slick-prev {
  right: 150px;
  left: unset;
}
@media screen and (min-width: 768px) {
  .responsive-slick-carousel-2 .slick-next,
  .responsive-slick-carousel-2 .slick-prev {
    margin-bottom: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .responsive-slick-carousel-2 .slick-next,
  .responsive-slick-carousel-2 .slick-prev {
    margin-bottom: 100px;
  }
}
/* Clients */
.clients {
  padding: 100px 10% !important;
}
.clients h2 {
  text-align: center;
}
.clients a {
  width: 200px;
}
.clients a img {
  height: 100%;
  width: 100%;
}
.clients .responsive-slick-carousel .slick-slide {
  margin: 0 10px;
}
/* Banner */
.banner-wrapper {
  background: linear-gradient(
      180deg,
      rgba(100, 100, 100, 0.3) 0%,
      rgba(100, 100, 100, 0.2) 80%,
      rgba(100, 100, 100, 0.1) 100%
    ),
    url("../img/default.webp");
  background-position: center;
  background-size: cover;
}
.banner {
  padding: 100px 10% !important;
  text-align: center;
}
/* Accordion */
.accordion {
  padding: 100px 10% !important;
}
.accordion h2 {
  text-align: center;
}
.accordion .accordion-header button {
  font-size: 20px;
}
/* Breadcrumb */
.breadcrumb-wrapper {
  padding: 100px 10% !important;
}
.breadcrumb-wrapper nav {
  background: #fff;
}
.breadcrumb-navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: none;
  padding: 0 0;
  margin: 0 0 50px 0;
}
.breadcrumb-item a {
  color: #000;
  text-decoration: none;
}
/* Contact form */
.contact-form {
  padding: 100px 10% !important;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-form h2 {
  text-align: center;
  margin: 0 0 50px 0;
}
.contact-form form {
  max-width: 800px;
}
.contact-form form .field {
  width: 100%;
  padding: 20px;
  margin: 10px 0px;
  border: none;
}
.contact-form input[type="radio"] {
  height: 10px;
  width: 10px;
  padding: 20px 0;
  margin: 0 10px 0 0;
}
.contact-form label {
  margin: 0 14px 0 0;
}
.contact-form textarea {
  min-height: 150px;
}
.contact-form input[type="submit"] {
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}
/* Responsive footer */
footer {
  padding: 40px 10%;
  background: #f1f1f1;
}
.footer-col {
  text-align: center;
  margin: 20px 0 !important;
}
.footer-col h2,
.footer-col h3 {
  margin-bottom: 20px;
}
.footer-col .social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-col .social-list li {
  margin: 10px;
}
.footer-col ul {
  padding: 0 0;
  margin: 0 0;
}
.footer-col li {
  list-style: none;
  margin: 0 0;
}
.footer-col a {
  color: #000;
  text-decoration: none;
}
.copyright {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .footer-col {
    text-align: start;
    margin: 0 0 !important;
  }
  .footer-col .social-list {
    justify-content: start;
  }
}
/* WhatsApp floating button */
.floating-wpp {
  font-size: 14px;
  position: fixed;
  bottom: 30px;
  left: 15px;
  cursor: pointer;
  transition: bottom 0.2s;
  z-index: 999;
}
.floating-wpp .floating-wpp-button {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 1px 1px 4px rgba(60, 60, 60, 0.4);
  transition: box-shadow 0.2s;
}
.floating-wpp .floating-wpp-button img,
.floating-wpp .floating-wpp-button svg {
  height: auto;
  width: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate3d(-50%, -50%, 0);
}
.floating-wpp:hover {
  bottom: 33px;
}
.floating-wpp:hover .floating-wpp-button {
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.4);
}
.floating-wpp .floating-wpp-popup {
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  background-color: #e5ddd5;
  opacity: 0;
  border-radius: 6px;
  padding: 0;
  box-shadow: 1px 2px 8px rgba(60, 60, 60, 0.25);
  transition: bottom 0.1s ease-out, opacity 0.2s ease-out;
  transform-origin: bottom;
}
.floating-wpp .floating-wpp-popup.active {
  padding: 0 12px 12px;
  height: auto;
  width: 260px;
  bottom: 82px;
  opacity: 1;
}
.floating-wpp .floating-wpp-popup .floating-wpp-message {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 0 5px 5px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
  transition: opacity 0.2s;
}
.floating-wpp .floating-wpp-popup.active .floating-wpp-message {
  opacity: 1;
  transition-delay: 0.2s;
}
.floating-wpp .floating-wpp-popup .floating-wpp-head {
  color: #ffffff;
  text-align: right;
  display: flex;
  justify-content: space-between;
  margin: 0 -15px 10px;
  padding: 6px 12px;
}
.floating-wpp .floating-wpp-input-message {
  background-color: var(--solid-sixth-color);
  display: flex;
  align-items: center;
  margin: 10px -15px -15px;
  padding: 0 15px;
}
.floating-wpp .floating-wpp-input-message textarea {
  width: 100%;
  max-width: 100%;
  font-family: inherit;
  font-size: inherit;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: none;
  padding: 8px;
  margin: 10px 0;
}
.floating-wpp .floating-wpp-btn-send {
  font-size: 0;
  margin-left: 12px;
}
/* Back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ccc;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-size: 18px;
  width: 60px;
}
#myBtn:hover {
  background-color: #2d3740;
}
#myBtn i {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* Countdown */
.countdown {
  margin: 0 auto;
  text-align: center;
}
.countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}
.countdown li span {
  display: block;
  font-size: 4.5rem;
}
#days,
#hours,
#minutes,
#seconds {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
